---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="IMPRESSUM">
  <p>
    Angaben gemäß § 5 TM; verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
  </p>
  <p>
    Simonetta Zieger<br>
    Bartholomäusweg 51<br>
    63762 Großostheim
  </p>
  <p>
    <strong>Kontakt:</strong>
  </p>
  <p>
    Telefon: 06026 2151<br>
    E-Mail: hallo(at)sonnenhof-zieger.de
  </p>
  <p>
    Plattform der Europäischen Kommission zur Online-Streitbeilegung (OS) für Verbraucher:
    <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr/</a>.
    Wir sind nicht bereit und nicht verpflichtet an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
  </p>
</LegalLayout>
